<% content_for :content do %>
  <style>
    body.datasets.highlight {
      background-color: #fffbb4;
    }
    #fileElem {
      display: none;
    }
  </style>

  <div>
    <%= form_tag({action: :upload}, multipart: true) do %>
      <%= file_field_tag 'fileElem', accept: 'text/csv' %>
    <% end %>
    <div id='elm-datasets' />
  </div>
<% end %>
