form.advanced-search {
  &.embedded {
    padding: 24px;

    .field {
      margin-bottom: 30px;
    }

    .submit {
      text-align: right;
    }
  }

  .field {
    margin-bottom: 10px;
  }
}

.expanded-search-top {
  display: flex;

  .count {
    margin-right: 20px;
  }

  .sorting-select {
    select {
      margin-left: 10px;
      width: auto;
    }
  }

  div {
    &.expand {
      flex-grow: 1;
    }

    display: inline-flex;
    align-items: baseline;

    a {
      margin: 0 8px;
      color: $blue;

      i {
        position: relative;
        top: 7px;
        padding-top: 5px;
        margin-right: 4px;
      }
    }
  }
}