.facilityDetail {
  border-top: 1px solid $light-blue;

  div {
    padding: 10px 10px 8px 18px;
  }

  .detailSection + .detailSection {
    border-top: 1px solid $grey3;
  }

  a {
    color: $blue;
    &:hover {
      color: $light-blue;
    }
  }

  .title {
    display: flex;
    align-items: center;

    background: $blue;
    color: white;
    font-size: 20px;
    padding-bottom: 8px;

    .name {
      flex: 1;

      .sub {
        display: block;
        color: $grey2;
        font-size: 10pt;
      }
    }

    i {
      cursor: default;
      color: $grey2;
    }
  }

  .content {
    margin: 0;
    padding: 0;
    i { margin-right: 15px; }

    .detailSection {
      padding: 20px;
      &.pic {
        margin: 0;
        padding: 0px;
        height: 217px;
        text-align: center;
        background-color: $grey-background;
        img {
          height: 100%;
        }
        .no-photo {
          i {
            font-size: 100px;
            margin: 0;
            display: block;
          }
          padding: 45px;
          color: $grey3;
        }
      }

      ul {
        margin: 0;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 13px;
        }
        li:last-child {
          margin-bottom: 0;
        }
      }

      &.actions, &.contact {
        font-size: 12pt;
        i {
          vertical-align: top;
          bottom: 1px;
          position: relative;
        }
      }
      &.actions a {
        color: $color_mountain_mist_approx;
        text-transform: uppercase;
      }
      &.contact {
        color: $blue;
      }
    }
  }

  .info, .extra {
    color: $color_mountain_mist_approx;
  }

  .noData {
    padding-left: 0;
    color: $color_mountain_mist_approx;
  }

  .services {
    padding: 10px 18px 0 18px;
    span {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15.5px;
      color: $color_mountain_mist_approx;
    }
    li {
      margin-top: 8px;
    }
  }
}
