//colors
$color_mountain_mist_approx: #999999;
$blue: #0f47af;
$light-blue: #4367a4;
$grey2: #a6b3d9;
$grey3: #dadada;
$grey-background: #F7F7F7;
$code-background: #EAEAEA;

.spinner-blue-only {
  border-color: $blue;
}
.btn-flat {
  color: $blue;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}
