//colors
$color_mountain_mist_approx: #999999;
$primary: #0f47af;
$primary-light: lighten($primary, 3%);
$primary-light2: lighten($primary, 45%);
$grey3: #dadada;
$grey-background: #F7F7F7;
$code-background: #EAEAEA;
$topnav_background: $primary;

// same media query as fitContent
$width-breakpoint: 992px;

// layout map
$topnav_height: 72px;
$searchbar_height: 56px;
$sidebar_width_map: 390px;

// layout home and cms
$sidebar_width_home: 300px;

.spinner-blue-only {
  border-color: $primary;
}
.progress {
  background-color: lighten($primary, 40%);
  .indeterminate {
      background-color: $primary;
  }
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $primary;
  box-shadow: 0 1px 0 0 $primary;
}
a.btn, input.btn, input.btn:hover {
  background-color: $primary;
  color: white;
}
a.btn-flat {
  color: $primary;
  background-color: transparent;
}
