@import 'materialize';
@import 'leaflet';
@import 'leaflet.markercluster';
@import 'variables';
@import 'docs';
@import 'facility_details';
@import 'modal';
@import 'notice';


html, body, #container, #elm, #map {
  height: 100%;
  width: 100%;
}

nav .nav-wrapper {
  i {
    height: 62px;
  }
}

#map {
  z-index: 1;

  .userMarker-outer {
    stroke-opacity: 0;
    fill-opacity: 0.3;
    fill: #333333;
  }

  .userMarker {
    stroke: white;
    stroke-width: 2;
    stroke-opacity: 1;
    fill: #F44336;
    fill-opacity: 1;
  }

  .facilityMarker, .facilityMarker-highlighted {
    stroke: white;
    stroke-width: 2;
    stroke-opacity: 1;
    fill-opacity: 1;
  }

  .clusterMarker {
    border-radius: 50%;
    background-color: $blue;
    border: 2px solid white;

    width: 18px !important;
    height: 18px !important;
    margin-left: -9px !important;
    margin-top: -9px !important;

    &.small {
      width: 10px !important;
      height: 10px !important;
      margin-left: -5px !important;
      margin-top: -5px !important;
      border: 1px solid white;
    }
  }

  &.grey-facilities {
    .clusterMarker {
      background-color: #a0a0a0;
    }
    .clusterMarker.highlighted {
      background-color: $blue;
    }
  }

  .leaflet-overlay-pane {
    z-index: 610;
  }
}

#map-control, #map-toolbar {
  transition: all ease-in-out .25s;
  background: rgb(255,255,255);
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
}

#map-control {
  left: 40px;
  top: 12px;
  width: 390px;
  min-width: 318px;
  max-height: 95%;
  flex-direction: column;
  overflow: hidden;
  z-index: 3;

  .preloader-wrapper {
    margin: 40px auto;
  }

  .footer {
    padding: 18px;
    border-top: 1px solid $grey3;
    a { color: $blue; }
  }
}

#map-toolbar {
  right: 12px;
  bottom: 24px;
  height: 32px;
  padding-left: 10px;
  flex-direction: row;
  align-items: center;
  z-index: 2;

  .scale {
    padding-right: 4px;
    span {
      margin-right: 4px;
    }
    .line {
      border: 2px solid black;
      border-top: 0;
      display: inline-block;
      height: 4px;
    }
  }

  .locales {
    margin-right: 8px;
    a {
      color: black;
      margin: 0 3px;
    }
    a.active {
      font-weight: bold;
    }
  }
}

#TopNav {
  background: $blue;
  height: 72px;
  padding: 10px;

  i { font-size: 25px; }
  #logo { height: 50px; }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  border: none;

  ul {
    margin: 10px 0;
  }

  hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 15px 0;
  }

  li {
    padding: 14px 0px;
    a {
      color: black;
      padding-left: 55px;
      min-height: auto;
      position: relative;

      i {
        position: absolute;
        left: 17px;
        top: -5px;
        display: inline-block;
        vertical-align: middle;
      }

      &.active, &:hover {
        color: $blue;
      }
    }
  }
}

.location {
  #location-spinner {
    line-height: 48px;
    width: 20px;
    height: 20px;
  }

  line-height: 6px;
  width: 36px;
  color: $color_mountain_mist_approx;
  text-align: center;
  -webkit-box-flex: 0 0 30px;
  -moz-box-flex: 0 0 30px;
  -webkit-flex: 0 0 30px;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  position: relative;
  a {
    color: inherit;
    &.detected {
      color: #0f47af;
    }
  }
}

.search-box {
  width: 100%;
  padding: 5px 10px 0 10px;
  -webkit-box-flex-wrap: wrap;
  -moz-box-flex-wrap: wrap;
  -ms-flex-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: row;
  -webkit-box-direction: row;
  -moz-box-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid #bcbcbc;
  .search {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 50px;
    position: relative;
    padding: 0 45px 0 10px;
    input {
      font-size: 17px;
      border-bottom: none;
      margin: 0;
      &:focus {
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: none;
        border-bottom: none !important;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: none !important;
      }
      + i, + a i {
        color: $color_mountain_mist_approx;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;
      }
      + a:hover i {
        color: black;
      }
    }
  }
}

input[type="checkbox"]:checked + label:before {
  border-right: 2px solid $blue;
  border-bottom: 2px solid $blue;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
  border-color: $color_mountain_mist_approx;
}

.content {
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.results {
  margin-top: 0;
  margin-bottom: 0;
  border: none;

  .no-results {
    color: $grey3;
    padding: 40px;
    text-align: center;
    span.search-icon {
      display:block;
      i { font-size: 400% };
    }
  }

  a.collection-item.avatar {
    color: black;
    border: none;
    padding-left: 55px;
    min-height: auto;
    cursor: default;

    i {
      position: absolute;
      left: 15px;
      display: inline-block;
      vertical-align: middle;
    }

    .sub {
      color: $color_mountain_mist_approx;
    }
  }
}

#bottom-action {
  display: none;
}


.leaflet-popup-content-wrapper {
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

// same media query as fitContent
@media all and(max-width: 992px) {
  #map-control {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    width: 100%;
    left: 0;
    top: 0;
    max-height: 100%;

    .content {
      max-height: none;
      overflow-y: scroll;

      &.expand {
        height: 100vh;
      }
    }
  }

  #bottom-action {
    align-items: center;
    background-color: #ffffff;
    bottom: 0;
    display: flex;
    font-size: 13pt;
    height: 55px;
    padding: 15px;
    position: absolute;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 500;
    z-index: 1;
    width: 100%;
    flex: 1;
    div {
      width: 100%;
    }
    a {
      text-align: center;
      display: inline-block;
      color: $color_mountain_mist_approx;
      width: 100%;
    }
  }

  #bottom-action + #map-toolbar {
    bottom: 65px;
  }

  .nav-back {
    display: flex;
    font-size: 20px;
    i { flex-grow: 1 }
    span { flex-grow: 9 }
  }

  .facilityDetail .title {
    height: 72px;
  }

  #mobile-menu {
    .side-nav {
      transition: 0.25s;
      &.active {
        transform: translateX(0);
      }
    }

    // FIXME
    li a i { top: 0; }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.65);
      z-index: 5;
    }
  }
}
