@import 'materialize';
@import 'leaflet';
@import 'leaflet.markercluster';
@import 'variables';
@import 'advanced_search';
@import 'cms';
@import 'facility_details';
@import 'map';
@import 'menu';
@import 'modal';
@import 'notice';
@import 'autocomplete';

html, body, #container, #elm, #map {
  height: 100%;
  width: 100%;
}

.side-nav {
  width: $sidebar_width_home;
}

nav .nav-wrapper {
  i {
    height: 62px;
  }
}

// materailize hides native select elements by default to display it's own javascript component
select {
  display: block;
}


.autocomplete-menu.pull-up {
  margin-top: -265px;
  &.child-count-1 {
    margin-top: -97px;
  }
  &.child-count-2 {
    margin-top: -130px;
  }
  &.child-count-3 {
    margin-top: -163px;
  }
  &.child-count-4 {
    margin-top: -196px;
  }
}

#map-control .panels,
#map-toolbar {
  transition: all ease-in-out .25s;
  border-radius: 5px;
  box-sizing: border-box;
  background: rgb(255,255,255);
  display: flex;
}

#map-control {
  position: absolute;
  left: 40px;
  top: 12px;
  display: flex;
  flex-direction: row;
  max-height: 95%;
  z-index: 3;

  .panels {
    overflow-x: hidden; // to clip rounded corners of the contenet with border-radius
    flex-grow: 1;

    .control-content {
      display: flex;
      flex-direction: column;
      .control-content-top {
        padding: 5px 10px 0 20px;
        min-height: $searchbar_height;

        .single-line {
          line-height: 3rem;
        }

        .title {
          font-size: 16px;
          color: $color_mountain_mist_approx;
        }
      }
      .control-content-bottom {
        // container for bottom panels should always scroll to prevent the header from scrolling.
        overflow-y: scroll;

        bottom: 0;
        border-top: 1px solid #bcbcbc;
      }
    }

    .side {
      width: $sidebar_width_map;
      min-width: $sidebar_width_map;
      display: flex;
      flex-direction: column;
    }

    .main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .TopNav {
        border-left: 1px solid rgba(0,0,0,0.1);
      }
      .control-content {
        flex-grow: 1;
        position: relative;
        border-left: 1px solid #bcbcbc;
        display: flex;
        flex-direction: column;

        .control-content-bottom {
          position: relative;
          flex-grow: 1;

          .collection.results {
            // infinite scroll height calculations seem to require absolute positioning.
            position: absolute;
            top: 0;
            bottom: 0;

            overflow: hidden;
            width: 100%;

            .inf-scroll-container {
              position: relative;
              overflow-y: scroll;
              height: 100%;

              .progress {
                margin-bottom: 7px;
              }
            }
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.5);
          z-index: 5;
        }
      }
    }
  }


  @media all and(min-width: $width-breakpoint) {
    &.expansible {
      .panels {
        border-radius: 5px 5px 0 5px;
      }
    }

    &.expanded {
      width: 96%;
      height: 95%;
    }

    &:not(.expanded) .main {
      display: none;
    }
  }

  .preloader-wrapper {
    margin: 40px auto;
  }

  .toggle {
    z-index: 2;

    .spacing {
      min-height: $topnav_height;
      background: transparent;
    }
    .toggle-btn {
      display: flex;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      color: white;
      background: $color_mountain_mist_approx;
      min-height: $searchbar_height;
      i { margin: auto; }
    }
  }

  .footer {
    padding: 18px;
    border-top: 1px solid $grey3;
    .icons {
      vertical-align: top;
      i.material-icons {
        margin-right: 13px;
      }
    }
    a { color: $primary; }
  }
}

#map-toolbar {
  position: absolute;
  right: 12px;
  bottom: 24px;
  height: 32px;
  padding-left: 10px;
  flex-direction: row;
  align-items: center;
  z-index: 2;

  .scale {
    padding-right: 4px;
    span {
      margin-right: 4px;
    }
    .line {
      border: 2px solid black;
      border-top: 0;
      display: inline-block;
      height: 4px;
    }
  }

  .locales {
    margin-right: 8px;
    a {
      color: black;
      margin: 0 3px;
    }
    a.active {
      font-weight: bold;
    }
  }
}

.TopNav {
  background: $topnav_background;
  min-height: $topnav_height;
  padding: 10px;

  i { font-size: 25px; }
  #logo {
    padding: 0 7px;
    & img {
      height: 50px;
    }
  }
}

.location {
  #location-spinner {
    line-height: 48px;
    width: 20px;
    height: 20px;
  }

  line-height: 6px;
  width: 36px;
  color: $color_mountain_mist_approx;
  text-align: center;
  -webkit-box-flex: 0 0 30px;
  -moz-box-flex: 0 0 30px;
  -webkit-flex: 0 0 30px;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  position: relative;
  a {
    color: inherit;
    &.detected {
      color: #0f47af;
    }
  }
}

.search-box {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  .search {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    input {
      font-size: 17px;
      border-bottom: none;
      margin: 0;
      &:focus {
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: none;
        border-bottom: none !important;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: none !important;
      }
    }
    .actions {
      position: absolute;
      right: 0;
      top: 10px;
      cursor: pointer;

      i, a i, a svg {
        color: $color_mountain_mist_approx;
        margin-left: 5px;
        width: 24px;
        height: 24px;
      }
      a:hover i, a.active i {
        color: $primary;
      }
      a svg {
        fill: $color_mountain_mist_approx;
        &.active {
          fill: $primary;
        }
      }
    }
  }
}

input[type="checkbox"]:checked + label:before {
  border-right: 2px solid $primary;
  border-bottom: 2px solid $primary;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
  border-color: $color_mountain_mist_approx;
}

.map.content {
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.results {
  margin-top: 0;
  margin-bottom: 0;
  border: none;

  .no-results {
    color: $grey3;
    padding: 40px;
    text-align: center;
    span.search-icon {
      display:block;
      i { font-size: 400% };
    }
  }

  a.collection-item.avatar {
    color: black;
    border: none;
    padding-left: 55px;
    min-height: auto;
    cursor: default;

    i {
      position: absolute;
      left: 15px;
      display: inline-block;
      vertical-align: middle;
    }

    .sub {
      color: $color_mountain_mist_approx;
    }
  }
}

#bottom-action {
  display: none;
}


.leaflet-popup-content-wrapper {
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

@media all and(max-width: $width-breakpoint) {
  #map-control {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    left: 0;
    top: 0;
    max-height: none;

    .panels {
      border-radius: 0;

      .side {
        width: 100vw;
        min-width: auto; // disable min-width for desktop view, since mobile devices can be smaller than that.
      }
    }

    .content {
      max-height: none;
      overflow-y: scroll;

      &.expand {
        height: 100vh;
      }
    }
  }

  #bottom-action {
    align-items: center;
    background-color: #ffffff;
    bottom: 0;
    display: flex;
    font-size: 13pt;
    height: 55px;
    padding: 15px;
    position: absolute;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 500;
    z-index: 1;
    width: 100%;
    flex: 1;
    div {
      width: 100%;
    }
    a {
      text-align: center;
      display: inline-block;
      color: $color_mountain_mist_approx;
      width: 100%;
    }
  }

  #bottom-action + #map-toolbar {
    bottom: 65px;
  }

  .nav-back {
    display: flex;
    font-size: 20px;
    i { flex-grow: 1 }
    span { flex-grow: 9 }
  }

  .facilityDetail .title {
    min-height: 72px;
    max-height: 85px;
  }
}

.spinner-white-only {
  border-color: #ffffff;
}

.datasets {
  .file-title {
    display: flex;
    justify-content: space-between;
  }

  .modal{
    &.open {
      overflow-y: auto;
    }
    
    .header {
      margin: 0;
    }
  }

  .drive-button {
    cursor: pointer;
    color: #999999;
    transition: 0.3s;

    :hover {
      transition: 0.3s;
      color: #0f47af;
    }
  }

  #close-modal {
    padding: 0 1rem;
    i {
      top: 0;
    }
  }

  #import-button {
    width: 130px;
    background-color: #0f47af;
  }

  #import-spinner {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  #import-log {
    height: 317px;
    overflow: auto;
    background-color: #ffffff;
  }

  .file-info {
    font-size: 9pt;
    color: #8d8d8d;
  }

  .file-card {
    border-radius: 5pt;
    border-color: #0f47af;
    border-width: 2px;
    border-style: solid;
    color: #0f47af;
    height: 150px;
    padding-bottom: 10px;
    position: relative;
  }

  .file-applied {
    border-style: none;
    color: #000000;
  }

  .pseudo-tabs {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    padding: 0px;
  }

  .pseudo-tab {
    display: inline-block;
    padding: 8px;
    padding-bottom: 0px;
    width: 80px;
    text-align: center;
    cursor: pointer;
  }

  .pseudo-tab.active {
    border-style: solid;
    border-color:  #0f47af;
    border-width: 0px;
    border-bottom-width: 5px;
    font-weight: 500;
    font-size: 16px;
  }

  .file-download {
    color: #999999;
    position: absolute;
    bottom: 10px;
    left: 15px;
    cursor: pointer;
  }

  .import-flash {
    .valign-wrapper {
      height: 53px;
    }
  }
}
