<!DOCTYPE html>
<html>
  <head>
    <title>Facility Public Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", media: 'all' %>
    <%= stylesheet_link_tag "application", media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
